<div class="row">

  <!-- Kingdom Cards -->
  <div class="span2" id="kingdom-cards">
  </div>

  <!-- Common Cards -->
  <div class="span1" id="common-cards">
  </div>

  <div id="game-area" class="span6">
    <div id="game-log">
      Turn Order is: <%= @game.game_players.collect(&:username).join(', ') %><br /><br />
      <strong>- <%= @game.current_player.player_id == current_player.id ? 'Your' : "#{@game.current_turn.game_player.username}'s" %> turn <%= ((@game.turn - 1) / @game.player_count) + 1 %> -</strong>
    </div>
    <% if @game.finished? %>
      <div id="finished-game">
      </div>
    <% else %>
      <div id="action-area">
        <div id="turn-status">
        </div>
        <div id="game-info">
          Draw Pile:
          <span id="draw-pile">
          </span>
          <br />
          Discard Pile:
          <span id="discard-pile">
          </span>
        </div>
        <div id="turn-actions">
        </div>
      </div>
      <br class="clear" />
      <div id="hand">
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "websockets/game", "data-turbolinks-track" => true %>
