<div class="row">

  <!-- Kingdom Cards -->
  <div class="span2" id="kingdom-cards">
  </div>

  <!-- Common Cards -->
  <div class="span1" id="common-cards">
  </div>

  <div id="game-area" class="span6">
    <div id="game-log">
      Turn Order is: <%= @game.game_players.collect(&:username).join(', ') %><br /><br />
      <strong>- <%= @game.current_player.player_id == current_player.id ? 'Your' : "#{@game.current_player.username}'s" %> turn <%= ((@game.current_turn.turn - 1) / @game.player_count) + 1 %> -</strong>
    </div>
    <% if @game.finished? %>
      <div id="finished-game">
      </div>
    <% else %>
      <div id="action-area">
        <div id="turn-status">
        </div>
        <div id="game-info">
          Draw Pile:
          <span id="draw-pile">
          </span>
          <br />
          Discard Pile:
          <span id="discard-pile">
          </span>
        </div>
        <div id="turn-actions">
        </div>
      </div>
      <br class="clear" />
      <div id="action-response"></div>
      <div id="hand">
      </div>
    <% end %>
  </div>
</div>

<br class="clear" />
<pre id="game-chat"></pre>
<form id="chat" action="">
  <input id="message">
</form>

<div id='info-modal' class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Game Info</h3>
  </div>
  <div class="modal-body" id="extra-info">
  </div>
</div>

<%= javascript_include_tag "websockets/game", "data-turbolinks-track" => true %>
