Trash:
{{#each trash_cards}}
  <span class="{{type_class}}">{{title}}</span>
{{/each}}
<br />
<br />
{{#each player_info}}
  <strong>{{player_name}}</strong><br />
  Victory Tokens: {{victory_tokens}}
  <br />
  <br />
{{/each}}
