<form id="lobby">
  <div id="players">
  </div>
  <button class="btn btn-primary" type="submit" value="Start Game">Start Game</button>
</form>

<%= javascript_include_tag "websockets/lobby", "data-turbolinks-track" => true %>
