<div id="proposal"></div>
<form id="lobby">
  <div id="players"></div>
  <br class="clear" />
  <button id="propose-game" class="btn btn-primary" type="submit" value="Start Game">Propose Game</button>
</form>

<%= javascript_include_tag "websockets/lobby", "data-turbolinks-track" => true %>

<% if @active_game.present? %>
  <script type="text/javascript">
    $(function(){
      lobby.propose(<%= {
          players: @active_game.players,
          cards: @active_game.kingdom_cards.collect{ |card| card.json(@active_game) },
          proposer: @active_game.proposer,
          is_proposer: current_player.id == @active_game.proposer.id,
          game_id: @active_game.id
        }.to_json.html_safe %>
      )

      <% if @active_game.game_player(current_player.id).accepted? %>
        lobby.accept_received({})
      <% end %>
    })
  </script>
<% end %>
