/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    padding-top: 65px;
}

.lobby-card {
  padding: 3px;
}

.action {
  background-color: lightgrey;
}

.victory {
  background-color: lightgreen;
}

.reaction {
  background-color: lightblue;
}

.action.victory {
  background-image: linear-gradient(bottom, lightgreen 50%, lightgrey 50%);
  background-image: -o-linear-gradient(bottom, lightgreen 50%, lightgrey 50%);
  background-image: -moz-linear-gradient(bottom, lightgreen 50%, lightgrey 50%);
  background-image: -webkit-linear-gradient(bottom, lightgreen 50%, lightgrey 50%);
  background-image: -ms-linear-gradient(bottom, lightgreen 50%, lightgrey 50%);
}
