$card_height: 46px;

.card-container {
  height: $card_height;
  padding-bottom: 5px;
}

.card-container div {
  float: right;
}

.card-name {
  height: $card_height;
}

.card-name span {
  display: inline-block;
  margin-top: 10px;
  padding: 1px;
}

.card-details {
  text-align: center;
  padding-left: 8px;
  padding-right: 5px;
  line-height: 15px;
  padding-top: 5px;
}

.card-tooltip {
  display: none;
  z-index: 10000;
}

.remaining {
  color: lightblue;
}

#common-cards {
  width: 125px;
}

#game-log {
  height: 250px;
  overflow: scroll;
}

#hand ul {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

#hand .hand-card li {
  position: relative;
  height: 20px;
}
